---
- hosts: devmachine

  vars:

    devenv_user:    lakiboy
    devenv_machine: mpb

    # Git
    devenv_git_user_name:  Dmitri Lakachauskis
    devenv_git_user_email: d@dmitri.io

    # Github
    devenv_github_api_token:          ~
    devenv_homebrew_github_api_token: ~

    # Ansible
    devenv_ansible_role_paths:
      - "/Users/{{ devenv_user }}/.ansible/roles"
      - "/Users/{{ devenv_user }}/Projects/ansible/roles"

    # Options
    devenv_osx_updates:             false
    devenv_osx_change_machine_name: false

  roles:
    - devenv
