[user]
    name = {{ devenv_git_user_name }}
    email = {{ devenv_git_user_email }}

[color]
    ui = auto

[alias]
    ci = commit
    co = checkout
    aa = add --all
    st = status -s

[core]
    excludesfile = /Users/{{ devenv_user }}/.gitignore
