[user]
    name = {{ git_user_name | mandatory }}
    email = {{ git_user_email | mandatory }}

[color]
    ui = auto

[alias]
    ci = commit
    co = checkout
    aa = add --all
    st = status -s
    lo = log --oneline

[core]
    excludesfile = ~/.gitignore
    whitespace=cr-at-eol

# Push easily - http://stackoverflow.com/a/23918418/89484
[push]
    default = current

# https://github.com/pstadler/keybase-gpg-github
[commit]
    gpgsign = true

[pull]
    rebase = false
